@model WEB.Models.Entities.ServiceDescription
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Шаг 1.</h5>
                <p class="card-text">Создать Tunduk-адаптер</p>
                @if (Model.ServiceDetails.Count > 0)
                {
                    <div class="alert alert-success text-right">Выполнено (@Html.DisplayNameFor(modelItem => Model.ServiceDetails.First().ServiceCode.Name)): <span id="s_serviceCode">@Html.DisplayFor(modelItem => Model.ServiceDetails.First().ServiceCode.Name)</span> <a href="javascript://" onclick="copyToClipboard('s_serviceCode')"><i class="fas fa-copy"></i></a>) @Html.ActionLink("Удалить", "DeleteServiceDetails", "ServiceDescriptions", new { id = Model.ServiceDetails.First().Id }, new { id = "deleteServiceDetailsBtn", @class = "btn btn-danger" })</div>
                    Html.RenderAction("ServiceDetails", new { detailsId = Model.ServiceDetails.First().Id });
                }
                else
                {
                    <div class="alert alert-dark text-right">@Html.ActionLink("Выполнить", "CreateServiceDetails", "ServiceDescriptions", new { serviceId = Model.Id }, new { id = "createServiceDetailsBtn", @class = "btn btn-primary" })</div>
                }
            </div>
        </div>
    </div>
</div>